/* 
    Nama  : Muhammad Satria Ramadhani
    NIM   : 2005128
    Kelas : Ilmu Komputer - KOM-4C2
*/

/* Global styling. */
*
{
    font-family: Arial, Helvetica, sans-serif;
}

/* Hyperlink styling (default and visited). */
a:link, a:visited
{
    color: #FFFFFF;
    text-decoration: none;
}

/* Hyperlink styling (hover). */
a:hover
{
    font-weight: bold;
}

/* Footer styling. */
footer
{
    background: #0226FD;
    color: #FFFFFF;
    clear: right;
    padding: 10px;
    
    font-weight: bold;
    text-align: center;
}

/* Header styling. */
header
{
    background: #0226FD;
    color: #FFFFFF;
    padding: 12px;
    
    text-align: center;
}

/* Heading styling (level 2 & 3). */
h2, h3
{
    color: #0226FD;
}

/* Paragraph and list styling. */
p, li
{
    color: #595959;
    text-align: justify;
}

/* Additional list styling. */
li
{
    line-height: 25px;
}

/* Table styling. */
table
{
    padding: 8px;
}

/* Biodata styling. */
.biodata
{
    color: #595959;
    text-align: left;
}

/* Image styling (used so the image will be 100% content). */
.center
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

/* Content styling (used on main, article). */
.content
{
    background: #FFFFFF;
    border: 10px #000000;
    box-shadow: 1px 1px 6px #696969;
    padding: 10px;
    width: 75%;

    margin-top: 10px;
    margin-left: 10px;
    margin-right: 5px;
    margin-bottom: 10px;
}

/* Form name styling. */
.formname
{
    color: #595959;
    font-size: medium;
    margin-left: 10px;
    margin-bottom: 0px;
}

/* Input styling (used in form input with type = text. */
.input
{
    margin: 10px;
    padding: 10px;
    width: 95%;
}

/* Logo styling (used in logo on header). */
.logo
{
    width: auto;
    height: auto;
    max-width: 125px;
    max-height: 125px;
}

/* Side navigation styling. */
.sidenav
{
    background: #FFFFFF;
    border: 10px #000000;
    box-shadow: 1px 1px 6px #696969;
    float: right;
    padding: 10px;
    right: 150px;
    width: auto;
    max-width: 20%;

    margin-top: 10px;
    margin-left: 5px;
    margin-right: 10px;
    margin-bottom: 10px;
}

/* Submit button styling. */
.submit
{
    background: #0226FD;
    color: #FFFFFF;
    font-size: large;
    font-weight: bold;
    margin: 10px;
    padding: 10px;
    width: 98%;
}

/* Top navigation styling. */
.topnav
{
    background: #3552FD;
    color: #FFFFFF;
    padding: 20px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;

    font-size: 18px;
    word-spacing: 16px;
}